version: "3.4"
services:
  rinkeby.dnp.dappnode.eth:
    image: "rinkeby.dnp.dappnode.eth:0.4.10"
    build:
      context: ./build
      args:
        UPSTREAM_VERSION: v1.10.4
    volumes:
      - "rinkeby:/root/.ethereum/rinkeby"
    environment:
      - "EXTRA_OPTIONS=--http.api eth,net,web3,txpool"
    ports:
      - "30303"
      - 30303/udp
      - 30304/udp
    restart: always
volumes:
  rinkeby: {}
